services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    hostname: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - type: volume
        source: nas
        target: /etc/nginx/certs
        read_only: true
        volume:
          subpath: certs/aidocs.ethanturk.com

volumes:
  nas:
    external: true
