services:
  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT}:8000"
    command: [ "uvicorn", "backend_app:app", "--host", "0.0.0.0", "--port", "8000", "--loop", "asyncio" ]
    environment:
      BASE_URL: ${BASE_URL:-192.168.5.204}
      CELERY_BROKER_URL: ${CELERY_BROKER_URL:-amqp://guest:guest@${BASE_URL}:5672//}  # pragma: allowlist secret
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_API_BASE: ${OPENAI_API_BASE}
      OPENAI_MODEL: ${OPENAI_MODEL}
      OPENAI_EMBEDDING_MODEL: ${OPENAI_EMBEDDING_MODEL}
      OPENAI_EMBEDDING_DIMENSIONS: ${OPENAI_EMBEDDING_DIMENSIONS}
      QDRANT_HOST: ${QDRANT_HOST:-192.168.5.204}
      USE_NNPACK: "0"
      QDRANT_COLLECTION_NAME: ${QDRANT_COLLECTION_NAME:-documents}
      CELERY_QUEUE_NAME: ${CELERY_QUEUE_NAME:-celery}
      API_URL: ${API_URL}

      # Azure Storage Configuration
      AZURE_STORAGE_CONNECTION_STRING: ${AZURE_STORAGE_CONNECTION_STRING}
      AZURE_STORAGE_CONTAINER_NAME: ${AZURE_STORAGE_CONTAINER_NAME:-documents}
      AZURE_STORAGE_ACCOUNT_NAME: ${AZURE_STORAGE_ACCOUNT_NAME}

      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
    networks:
      - web

networks:
  web:
    external: true
    name: web
