services:
  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT}:8000"
    command: [ "uvicorn", "backend_app:app", "--host", "0.0.0.0", "--port", "8000", "--loop", "asyncio" ]
    dns:
      - 8.8.8.8
      - 8.8.4.4
    environment:
      BASE_URL: ${BASE_URL:-192.168.5.204}
      CELERY_BROKER_URL: ${CELERY_BROKER_URL:-amqp://guest:guest@${BASE_URL}:5672//}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_API_BASE: ${OPENAI_API_BASE}
      OPENAI_MODEL: ${OPENAI_MODEL}
      OPENAI_EMBEDDING_MODEL: ${OPENAI_EMBEDDING_MODEL}
      OPENAI_EMBEDDING_DIMENSIONS: ${OPENAI_EMBEDDING_DIMENSIONS}
      QDRANT_HOST: ${QDRANT_HOST:-192.168.5.204}
      USE_NNPACK: "0"
      QDRANT_COLLECTION_NAME: ${QDRANT_COLLECTION_NAME:-documents}
      CELERY_QUEUE_NAME: ${CELERY_QUEUE_NAME:-celery}
      API_URL: ${API_URL}
      GOOGLE_APPLICATION_CREDENTIALS: /app/service-account.json
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
    volumes:
      - type: volume
        source: nas
        target: /data/monitored
        volume:
          subpath: ${NAS_SUBPATH}
      - type: volume
        source: nas
        target: /app/service-account.json
        volume:
          subpath: configs/aidocsearch/service-account.json

volumes:
  nas:
    external: true
