services:
  backend:
    build: ./backend
    hostname: backend
    ports:
    network_mode: "host"
    command: [ "uvicorn", "backend_app:app", "--host", "0.0.0.0", "--port", "${BACKEND_PORT:-8000}", "--loop", "asyncio" ]
    # ports: - "${BACKEND_PORT}:8000" (Removed for host mode)
    environment:
      BASE_URL: ${BASE_URL:-192.168.5.204}
      CELERY_BROKER_URL: ${CELERY_BROKER_URL:-amqp://guest:guest@${BASE_URL}:5672//}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_API_BASE: ${OPENAI_API_BASE}
      OPENAI_MODEL: ${OPENAI_MODEL}
      OPENAI_EMBEDDING_MODEL: ${OPENAI_EMBEDDING_MODEL}
      OPENAI_EMBEDDING_DIMENSIONS: ${OPENAI_EMBEDDING_DIMENSIONS}
      QDRANT_HOST: ${QDRANT_HOST:-192.168.5.204}
      USE_NNPACK: "0"
      QDRANT_COLLECTION_NAME: ${QDRANT_COLLECTION_NAME:-documents}
      CELERY_QUEUE_NAME: ${CELERY_QUEUE_NAME:-celery}
      DATABASE_CONN_STRING: ${DATABASE_CONN_STRING}
      API_URL: ${API_URL}
      GOOGLE_APPLICATION_CREDENTIALS: /app/service-account.json
    volumes:
      - type: volume
        source: nas
        target: /data/monitored
        volume:
          subpath: ${NAS_SUBPATH}
      - type: volume
        source: nas
        target: /app/service-account.json
        volume:
          subpath: configs/aidocsearch/service-account.json

volumes:
  nas:
    external: true
