services:
  worker:
    build: ./backend
    command: celery -A async_tasks worker --loglevel=info --concurrency=4
    deploy:
      resources:
        limits:
          memory: 10000M
    environment:
      CELERY_BROKER_URL: ${CELERY_BROKER_URL:-amqp://guest:guest@192.168.5.204:5672//}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_API_BASE: ${OPENAI_API_BASE}
      OPENAI_MODEL: ${OPENAI_MODEL}
      QDRANT_HOST: ${QDRANT_HOST:-192.168.5.204}
      USE_NNPACK: "0"
      QDRANT_COLLECTION_NAME: ${QDRANT_COLLECTION_NAME:-documents}
      CELERY_QUEUE_NAME: ${CELERY_QUEUE_NAME:-celery}
      GOOGLE_APPLICATION_CREDENTIALS: /app/service-account.json
    volumes:
      - type: volume
        source: nas
        target: /data/monitored
        volume:
          subpath: ${NAS_SUBPATH}
      - type: volume
        source: nas
        target: /app/service-account.json
        volume:
          subpath: configs/aidocsearch/service-account.json

volumes:
  nas:
    external: true
