services:
  worker:
    build: ./worker
    command: celery -A async_tasks worker --loglevel=info --concurrency=12
    deploy:
      resources:
        limits:
          memory: 8000M
    environment:
      CELERY_BROKER_URL: ${CELERY_BROKER_URL:-amqp://guest:guest@192.168.5.200:5672//}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_API_BASE: ${OPENAI_API_BASE}
      OPENAI_MODEL: ${OPENAI_MODEL}
      QDRANT_HOST: 192.168.5.200
      USE_NNPACK: "0"
    volumes:
      - /volume1/data/documents/searchable:/data/monitored
