services:
  worker:
    build: ./backend
    command: celery -A async_tasks worker --loglevel=info --concurrency=4
    deploy:
      resources:
        limits:
          memory: 10000M
    environment:
      CELERY_BROKER_URL: ${CELERY_BROKER_URL:-amqp://guest:guest@192.168.5.204:5672//}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_API_BASE: ${OPENAI_API_BASE}
      OPENAI_MODEL: 'gpt-oss-20b'
      QDRANT_HOST: 192.168.5.204
      USE_NNPACK: "0"
      QDRANT_COLLECTION_NAME: ${QDRANT_COLLECTION_NAME:-documents}
      CELERY_QUEUE_NAME: ${CELERY_QUEUE_NAME:-celery}
    volumes:
      - type: volume
        source: nas
        target: /data/monitored
        volume:
          subpath: ${NAS_SUBPATH:-documents/searchable}

volumes:
  nas:
    external: true
